/**
* Front Editor CSS
**/

.uebns-team{
    padding: 25px 0 0;
    display: block;
}

.uebns-row{
    position: relative;
    max-width: 1100px;
    margin-bottom:25px; 
}

.uebns-row1{
    width: 100%;
}

.uebns-row50{
    width: 50%;
    float: left;
}

.uebns-row33{
    width: 33%;
    float: left;
}

.uebns-row25{
    width: 25%;
    float: left;
}

.uebns-row20{
    width: 20%;
    float: left;
}

.uebns-main{
    display: block;
}
.uebns-content{
    width:100%;
    position: relative;
}
/* Default Layout */
.uebns-col{
    float: left;
    
}
.uebns-profile-image{
    width:30%;
}
.uebns-txt{
    width:70%;
    padding:0 25px;
    height: 100%;
}
.uebns-profile-images{
    display: flex;
}
img.uebns-photo-member{
    max-width: 100%;
    height: auto;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border: 1px solid #ccc;
    
}
img.uebns-photo-member:hover{
    opacity: 0.7;
    cursor: pointer;
}
.uebns-round{
    border-radius: 50%;
}

/* Clearfixes */
.uebns-team::after,
.uebns-row::after,
.uebns-content:after{
    content: ' ';
    clear: both;
    display: table;
}
.uebns-header h2{
    font-size:1.2em;
    line-height: 25px;
    font-weight: 900;
    letter-spacing: 0;
    margin-bottom: 0;

}
.uebns-description-bio{
    font-size: 0.8em;
    word-wrap: break-word;
    line-height: 1.8em;
}
.uebns-des-text{
    position: relative;
    height: 100%;
}
.uebns-sub-header{
    font-size: 0.9em;
    font-style: italic;
    color: #a8a8a8;
}

.uebns-hr {
    width: 40%;
    margin-left: 0;
    background: #eb5466;
    margin:5px 0 5px;
}
/* Social Menu */
.uebns-social-link{
    text-align: left;
    margin-top:10px;
}
.uebns-social-menu{
    padding:0px !important;
}
.uebns-social-menu ul{
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    padding:0;
    text-align: center;
}

.uebns-social-menu li{
    display: inline;
    margin-left: 5px;
}
.uebns-social-menu li:first-child{
    margin-left: 0px; 
}
.uebns-round-link{
    -webkit-border-radius: 40px;
    border-radius: 40px;
}
.uebns-link a:link,
.uebns-link a{
    background-color: #eb5466;
    color:#fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    transition: color 110ms ease-in;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    box-shadow: none;
}

.uebns-link a:hover {
    background-color: #212952;
    box-shadow: none;
    /* color:#eb5466; */
}
.uebns-link i {
    height: 16px;
    top: 12px;
    width: 16px;
    vertical-align: top;
    display: inline-block;
    fill: currentColor;
    position: relative;
}

/* Layout 1 */
.uebns-center{
    text-align: center;
    margin: 0 auto;
}
.uebns-hr-full{
    width: 100%;
}
.regular-text{
    width: 20em;
}
/* Unter Tabletsgröße */
@media (max-width: 991.98px) {
    .uebns-row50,
    .uebns-row25,
    .uebns-row20,
    .uebns-row33 {
        width: 100%;
    }

}